  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
     <div class="ui celled list">
<div class="ui red segment">
    <div id="cardcontent" class="ui content">
        <div class="labelholder"><a class="ui red circular label">V</a></div>
        <div id="labelheader">Votizen</div>
    </div>
        <div class="stats"><span id="number">20</span>&nbsp;<span id="label">votes</span></div>
</div>
<div class="ui orange segment">
    <div id="cardcontent" class="ui content">
        <div class="labelholder"><a class="ui red circular label">F</a></div>
        <div id="labelheader">Farm Drive</div>
    </div>
        <div class="stats"><span id="number">5</span>&nbsp;<span id="label">votes</span></div>
</div>
<div class="ui blue segment">
    <div id="cardcontent" class="ui content">
        <div class="labelholder"><a class="ui red circular label">M</a></div>
        <div id="labelheader">MFarm</div>
    </div>
        <div class="stats"><span id="number">15</span>&nbsp;<span id="label">votes</span></div>
</div>
<div class="ui yellow segment">
    <div id="cardcontent" class="ui content">
        <div class="labelholder"><a class="ui red circular label">EB</a></div>
        <div id="labelheader">Elimu Bora</div>
    </div>
        <div class="stats"><span id="number">20</span>&nbsp;<span id="label">votes</span></div>
</div>
 
    </div>
  </div>
  </div>